<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.musicmanager.mapper.PlayMapper">
<!--    <select id="getUser" resultType="com.test.dto.User">-->
<!--        select * from user-->
<!--    </select>-->
<!--    <delete id="deleteUser" parameterType="Integer">-->
<!--        delete from user where id =#{id}-->
<!--    </delete>-->
<!--    <insert id="addUser" parameterType="com.test.dto.User">-->
<!--        insert into user(id,name,age,sex)values(#{id},#{name},#{age},#{sex})-->
<!--    </insert>-->
    <select id="find" resultType="cn.edu.zucc.musicmanager.model.PlayInfo">
        select * from tbl_playinfo where id =#{id}
    </select>
    <select id="getAllPlaydescription" parameterType="Integer" resultType="java.lang.String">
        select description from tbl_playinfo limit 100 offset #{offset}
    </select>
    <select id="getAllPlaysendtime" resultType="Long">
        select createTime from tbl_playinfo
    </select>
    <select id="getTenhotPlay" resultType="cn.edu.zucc.musicmanager.model.PlayInfo">
        select * from tbl_playinfo order by playCount DESC limit 10
    </select>
    <select id="getPlaycount" parameterType="cn.edu.zucc.musicmanager.result.Chartpara" resultType="Integer">
        SELECT count(*) FROM tbl_playinfo where playCount &lt; #{end} and playCount &gt;= #{start}
    </select>
    <select id="getSharecount" parameterType="cn.edu.zucc.musicmanager.result.Chartpara" resultType="Integer">
        SELECT count(*) FROM tbl_playinfo where shareCount &lt; #{end} and shareCount &gt;= #{start}
    </select>
    <select id="getCommentcount" parameterType="cn.edu.zucc.musicmanager.result.Chartpara" resultType="Integer">
        SELECT count(*) FROM tbl_playinfo where commentCount &lt; #{end} and commentCount &gt;= #{start}
    </select>
</mapper>